{% extends 'base.html.twig' %}

{% block title %}{% endblock %}
{% block stylesheets %}
    <!-- Import Google Icon Font -->
    <link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!-- Import materialize.css -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.0/css/materialize.min.css" rel="stylesheet">
    <link rel="stylesheet" href="{{ asset('main.css') }}">
{% endblock %}

{% block body %}
    <div id="root"></div>
{% endblock %}

{% block javascripts %} <!-- Import jQuery before materialize.js -->
    <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.0/js/materialize.min.js"></script>
    {% if app.environment == 'dev' %}
    <script src="http://localhost:3000/static/js/bundle.js"></script>
    {% else %}
        <script src="{{ asset('main.js') }}"></script>
    {% endif %}
{% endblock %}
